*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #000000, #3a3a3a);

}

.login-box {
    background-color: #333333;
    width: 500px;
    padding: 40px 35px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 35px rgba(60, 60, 60, 0.7);
    
}

.login-box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 35px;
}

form {
    text-align: left;
}

label {
    color: #ccc;
    font-size: 15px;
}

input {
    width: 100%;
    margin: 8px 0 18px;
    padding: 12px;
    border: none;
    outline: none;  
    border-radius: 5px;
    background-color: #444444;
    color: white;
    font-size: 15px;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #e50914;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.btn:hover {
    background: #f6121dae;
}

.signup {
    text-align: center;
    margin-top: 18px;
    color: #999;
}

.signup a {
    color: #e50914;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}